#game, #versus, #multiplayer, #machine, #remote, #create, #join, #warning, #secondUsername {
	display: none;
}

#board {
	margin-top: 20px;
}

.title {
	font-size: 3rem !important;
	margin-top: 20px !important;
}

#game .segment {
    margin-top: 25px;
}